.Shelf {
	position: absolute;
	left: 244px;
	right: 20px;
}

.ShelfContent {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

h3 {
	margin: 26px 0;
	font-size: 42px;
	text-align: center;
	width: 100%;
}
